<% if (site.posts.length){ %>
<div class="widget-wrap">
  <h3 class="widget-title"><%= __('recent_posts') %></h3>
  <div class="widget">
    <ul>
      <% [...new Set(site.posts.map(x => x.categories.data[0].name))].forEach(categories => { %>
      <li>
        <%= categories %>
        <ul>
          <%site.posts.filter( y => y.categories.data[0].name === categories).sort('rank', 1).forEach(cur => { %>
          <li>
            <a href="<%- url_for(cur.path) %>"><%= cur.title %></a>
          </li>
          <%})%>
        </ul>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
<% } %>
